
    <section class="book-details">
        <h2>{{this.title}}</h2>
        <hr>
        <p>
          <b>  Author: </b> {{author}} <br />
        </p>
        <p>
          <b> Description: </b> {{description}} <br />
        </p>
        <p>
            <b> Rating: </b> {{rating}} <br />
        </p>
        <hr>
        
        <a href="/books">Back</a>

    </section>

